<div class="container-fluid" ng-controller="SidebarCtrl">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="isHome('/')"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li ng-class="isActive('users')"><a href="/users">Users</a></li>
        <li ng-class="isActive('groups')"><a href="/groups">Groups</a></li>
        <li ng-class="isActive('memberships')"><a href="/memberships">Memberships</a></li>
        <li ng-class="isActive('feedbacks')"><a href="/feedbacks">Feedbacks</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a>Overview</a></li>
        <li><a>Reports</a></li>
        <li><a>Analytics</a></li>
        <li><a>Export</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
  </div>
</div>